header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h3 {
    font-size: 5em;
    color: steelblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    word-spacing: 10px;
    letter-spacing: 10px;
    font-variant: small-caps;
    margin-bottom: 10px;
}

h3 {
    font-size: 3em;
    font-style: normal;
    color:slategrey;
}

.selecao, .btnSort, .sorteio, .acertos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.selecao > input {
    width: 2em;
    height: 2em;
    font-size: 6em;
    margin-right: 15px;
    background-color:mediumslateblue;
}

.btnSort > button {
    font-size: 2em;
    padding: 10px 25px;
    background-color: cornflowerblue;
}

footer {
    background-color: black;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

footer > p {
    color: white;
    font-size: 2em;
}
